* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
a {
    padding: 10px 0;
    margin: 0;
}

p {
    font-size: 1.3em;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

img {
    width: 100%;
    box-shadow: 0px 6px 12px 0px #00000052;
}


/* This is the nav section */

.nav-trigger {
    position: fixed;
    right: 0;
    width: 100px;
    padding: 0px;
    z-index: 5;
}

.nav-trigger>a {
    background-color: #0000002e;
    width: 100px;
    height: 100px;
    padding: 0px;
    padding: 0;
    border-radius: 50%;
    z-index: 5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav-trigger>a>img {
    width: 100%;
    box-shadow: none;
}

.nav-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.502);
}

.nav {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 180px;
    z-index: 5;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.331);
    left: -180px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.logo {
    width: 50%;
}

.logo>p {
    text-align: center;
}

.logo>p>a>img {
    width: 100%;
    box-shadow: none;
}

.nav>ul {
    display: flex;
    flex-wrap: wrap;
}

.nav>ul>li {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    list-style: none;
    text-decoration: none;
}

.nav>ul>li>a {
    text-decoration: none;
    color: #373737;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav>ul>li>a:hover {
    color: red;
}

.arrow-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0px;
    height: 100vh;
    top: 0;
}

.arrow {
    padding: 15px;
    position: absolute;
    right: -234px;
    z-index: 6;
    background-color: #fff;
    box-shadow: 5px 4px 5px rgb(0 0 0 / 11%);
    cursor: pointer;
}

.tool-tip-trigger,
.tool-tip-trigger-2 {
    display: none;
    width: 110px;
    position: absolute;
    right: -145px;
    background-color: #000000d1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: -90px;
    text-align: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#arrow:hover .tool-tip-trigger {
    display: block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#arrow-2:hover .tool-tip-trigger-2 {
    display: block;
}

.arrow>i {
    font-size: 1.7em;
    color: #ea252c;
}

.arrow-2 {
    display: none;
    padding: 15px;
    position: absolute;
    right: -234px;
    z-index: 6;
    background-color: #fff;
    box-shadow: 5px 4px 5px rgb(0 0 0 / 11%);
    cursor: pointer;
}

.arrow-2>i {
    font-size: 1.7em;
    color: #ea252c;
}


/* This is the quote modal */

.quote-modal {
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: none;
    z-index: 5;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    min-width: 230px;
    background-color: white;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0px 5px 12px 0px black;
    overflow: auto;
}

.modal-form>form {
    width: 85%;
}

.modal-form>form>input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid rgb(213, 213, 213);
}

.modal-form>form>select {
    width: 98%;
    border: 1px solid #8080804d;
    padding: 10px 5px;
    border-radius: 3px;
}

.modal-form>form>label {
    padding: 10px 0;
}

.modal-form>form>textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(213, 213, 213);
}

.modal-form>form>button {
    text-decoration: none;
    background-color: rgb(216, 42, 42);
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.modal-form>form>button:hover {
    background-color: rgb(184, 35, 35);
}

.modal-header {
    width: 85%;
    font-size: 1.5em;
    padding: 0 0 20px 0;
}

.modal-header>h3 {
    text-align: center;
}

.exitIcon {
    text-align: right;
}

.exitIcon>i {
    cursor: pointer;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.exitIcon>i:hover {
    color: rgb(216, 42, 42);
}


/* This is the video Modal */

.video-modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: none;
    z-index: 5;
}

.modal-header-2 {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    color: white;
}

.video-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    min-width: 230px;
    margin: 0 auto;
    padding: 20px;
}

.video-box>iframe {
    width: 100%;
    height: 500px;
    box-shadow: 0px 5px 12px 0px black;
}

.exitIcon2 {
    text-align: right;
}

.exitIcon2>i {
    cursor: pointer;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.exitIcon2>i:hover {
    color: rgb(216, 42, 42);
}


/* This is the main Content */

.content {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    width: 100%;
    height: auto;
    background-blend-mode: multiply;
}

.section:nth-child(1) {
    background: #0000009c url(https://dev20.quietcoolsystems.com/wp-content/uploads/2020/07/Family_AirflowLarge_1388x1008-d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(2) {
    /* background: #000000c7 url(http://lp5.quietcooldealer.com/wp-content/uploads/2021/01/AFG-PRO-2.0.jpg); */
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(3) {
    background: #1f1f1f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(4) {
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 !important;
    height: auto;
}

.section:nth-child(5) {
    background-color: #171717;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.section:nth-child(6) {
    height: auto;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(7) {
    background-color: #f9f9f9f7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(8) {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section:nth-child(9) {
    background-color: #0c0c0c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hideme,
.hideme-2,
.hideme-3 {
    opacity: 0;
}

.hero,
.benefits,
.features,
.how-it-works,
.get-quote,
.about-us,
.pricing {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.get-quote {
    height: 50vh;
}

.main-header {
    width: 100%;
    text-align: center;
}


/* this is the Hero Section */

.hero {
    height: 100vh;
    padding: 0;
}

.hero-text,
.hero-video-btn {
    width: 50%;
    max-width: 600px;
    min-width: 230px;
    padding: 50px 0;
}

.hero-text {
    color: white;
}

.hero-text>h1 {
    font-size: 3.5em;
    text-shadow: 0px 3px 2px #00000040;
}

.hero-video-btn>h2 {
    text-shadow: 0px 3px 2px #00000040;
}

.hero-text>p {
    text-shadow: 0px 3px 2px #00000040;
}

.hero-text>p:nth-child(5) {
    padding-top: 35px;
}

.phone-number>a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 0px 3px 2px #00000040;
}

.hero-btn {
    text-decoration: none;
    background-color: rgb(216, 42, 42);
    padding: 25px 40px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    font-size: 1.2em;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.hero-btn:hover {
    background-color: rgb(161, 32, 32);
}

.hero-video-btn {
    text-align: center;
    color: white;
}

.play-icon>i {
    font-size: 5em;
    color: white;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.play-icon>i:hover {
    color: #4CAF50;
}

.scroll-downs {
    position: relative;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    cursor: pointer;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}


/* Who we are section */

.who-we-are {
    width: 90%;
    color: rgb(41, 41, 41);
    padding: 150px 0;
}

.who-we-are-text>h3 {
    font-size: 1.8em !important;
}

.who-we-are-text {
    width: 90%;
    text-align: center;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    padding: 20px 0;
    margin: 30px auto;
    /* box-shadow: 0px 0px 15px #0000003b; */
}

.media-icons>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.media-icons>ul>li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    list-style: none;
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.media-icons>ul>li:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    background-color: #2b2b2b;
}

.media-icons>ul>li>a>img {
    box-shadow: none;
    width: 100%;
}


/* this is the Benefits Section */

.benefits {
    color: #fff;
}

.benefits>.main-header {
    padding-bottom: 50px;
}

.benefits>.main-header>p {
    width: 60%;
    margin: 0 auto;
}

.benefits-text,
.benefits-img {
    width: 48%;
    align-content: center;
    max-width: 700px;
    min-width: 230px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
}

.benefits-list>li {
    width: 80%;
    list-style: none;
    padding: 0;
}

.benefits-list>li:nth-child(1)>h3 {
    color: #ffffff;
}

.benefits-list>li:nth-child(2)>h3 {
    color: #ffffff;
}

.benefits-list>li:nth-child(3)>h3 {
    color: #ffffff;
}

.benefits-list>li>p {
    color: #fff;
}


/* this is the features section */

.features-header {
    color: #373737;
    padding: 20px 0;
}

.features {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-width: 230px;
    height: 550px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px 0;
}

.features .feature {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.features .feature.feature-1 {
    background: url(images/TRI-3.3-mounted-1024x683.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
}

.features .feature.feature-2 {
    background: url(images/stealth-pro-x-.jpg);
    background-size: cover;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}

.features:hover .feature {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.features .feature:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.features .feature .feature-content-1 {
    position: absolute;
    color: #242424;
    background-color: #fff9;
    top: 0;
    padding: 10px;
    opacity: 0;
}

.features .feature:hover .feature-content-1 {
    right: 0;
    opacity: 1;
    width: 40%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature-content-1>h2 {
    width: 100%;
}

.features .feature .feature-content-2 {
    position: absolute;
    color: #242424;
    background-color: #fff9;
    top: 0;
    padding: 10px;
    opacity: 0;
}

.features .feature:hover .feature-content-2 {
    left: 0;
    opacity: 1;
    width: 40%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature-content-2>h2 {
    width: 100%;
}

.features-2 {
    display: none;
}


/* This is the how it works section */

.howItWorksList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    padding: 0;
}

.how-it-works {
    width: 100% !important;
    margin: 0 auto;
    height: auto;
    padding: 0 !important;
}

.how-it-works>.main-header {
    color: #373737;
    padding: 50px 0;
    background-color: #fff;
}

.hiw-title {
    position: absolute;
    margin: 0 auto;
    color: white;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.hiw-text-box-side {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
}

.hiw-left {
    width: 40%;
    /* border: 1px solid blue; */
}

.hiw-right {
    width: 40%;
    /* border: 1px solid red; */
}

.hiw-text-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.open-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.502) url(http://lp5.quietcooldealer.com/wp-content/uploads/2021/01/Untitled-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding: 550px 0;
}

.hiw-right>h3 {
    max-width: 1440px;
    width: 100%;
    font-size: 4em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.hiw-right>p {
    max-width: 1440px;
    width: 100%;
    font-size: 2em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.turn-it-on {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.502) url(http://lp5.quietcooldealer.com/wp-content/uploads/2021/01/Untitled-design-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding: 550px 0;
}

.hiw-left>h3 {
    max-width: 1440px;
    width: 100%;
    font-size: 4em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.hiw-left>p {
    max-width: 1440px;
    width: 100%;
    font-size: 2em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.bring-fresh-air-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.502) url(http://lp1.quietcooldealer.com/wp-content/uploads/2021/01/IndoorLifestyle8_1200-300-c-1024x482-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding: 550px 0;
}

.bring-fresh-air-in>h3 {
    max-width: 1440px;
    width: 100%;
    font-size: 4em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.bring-fresh-air-in>p {
    max-width: 1440px;
    width: 100%;
    font-size: 2em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.enjoy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.502) url(http://lp5.quietcooldealer.com/wp-content/uploads/2021/01/Untitled-design-3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding: 550px 0;
}

.enjoy>h3 {
    max-width: 1440px;
    width: 100%;
    font-size: 4em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}

.enjoy>p {
    max-width: 1440px;
    width: 100%;
    font-size: 2em;
    text-shadow: rgb(0 0 0 / 50%) 2px 3px 5px;
}


/* This is the quote section */

.get-quote {
    color: white;
    text-align: center;
}

.get-quote-btn {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(216, 42, 42);
    padding: 15px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.get-quote-btn:hover {
    background-color: rgb(179, 33, 33);
}

.start-saving {
    font-size: 4em;
}


/* this is the About us section */

.about-us-img,
.about-us-text-box {
    width: 50%;
    max-width: 600px;
    min-width: 230px;
    margin: 0 auto;
}

.about-us-img {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.about-us-text {
    position: relative;
    padding: 40px 20px;
    color: #353535;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* This is the testimonial Section */

.testimonials {
    padding: 150px 0;
}

.testimonials-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px 0;
}

.testimonials-box>li {
    width: 30%;
    text-align: center;
    list-style: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: #fff;
    padding: 25px 10px 115px 10px;
    border: 1px solid #00000008;
}

.testimonials-ratings {
    color: #ffb200;
    padding: 0;
}


/* This is the pricing section */

.pricing {
    width: 90%;
    margin: 0 auto;
}

.pricing-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 100px 0;
    width: 90%;
}

.pricing-box-1,
.pricing-box-2,
.pricing-box-3 {
    width: 33%;
    max-width: 400px;
    min-width: 260px;
    padding: 0px 0px 60px 0px;
    text-align: center;
    box-shadow: 0px 6px 12px 0px #00000052;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pricing-box-1 {
    background-color: #3c3c3c;
    color: white;
}

.pricing-box-1>h3 {
    background-color: #222222;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.pricing-box-1>ul>li {
    list-style: none;
    padding: 5px 0;
}

.pricing-box-1>ul>li>i {
    color: rgb(51, 216, 90);
}

.pricing-box-1>ul {
    padding: 0;
}

.pricing-box-2 {
    transform: scale(1.1) !important;
    background-color: #34A2E1;
    color: white;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    z-index: 2;
}

.pricing-box-2>h3 {
    background-color: #2a85b9;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.pricing-box-2>ul>li {
    list-style: none;
    padding: 5px 0;
}

.pricing-box-2>ul>li>i {
    color: #fff;
}

.pricing-box-2>ul {
    padding: 0;
}

.pricing-box-3 {
    background-color: #3c3c3c;
    color: white;
}

.pricing-box-3>h3 {
    background-color: #222222;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.pricing-box-3>ul>li {
    list-style: none;
    padding: 5px 0;
}

.subtitle {
    padding: 30px;
}

.pricing-box-3>ul>li>i {
    color: rgb(51, 216, 90);
}

.pricing-box-3>ul {
    padding: 0;
}

.pricing-bottom-text {
    width: 50%;
    text-align: center;
}

.pricing-bottom-text>p:nth-child(2) {
    padding-top: 25px;
}

.call-now-btn {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(216, 42, 42);
    padding: 15px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* This is the footer section */

.footer {
    padding: 20px 0 20px 0;
    bottom: 0;
    background-color: #0c0c0c;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.footer-section-1,
.footer-section-2,
.footer-section-3 {
    border: 1px solid red;
    width: 33%;
    overflow: hidden;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
}

.footer-bottom-left,
.footer-bottom-right {
    width: 49%;
    /* border: 1px solid green; */
    text-align: center;
    list-style: none;
    color: white;
}

.footer-bottom-left>a {
    color: #3c3c3c;
}

.footer-bottom-right>a {
    color: #3c3c3c;
}

.mobile-call-to-action {
    display: none;
    padding: 25px 0;
    background-color: #191919;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.mobile-call-to-action>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.mobile-call-to-action>ul>li {
    list-style: none;
}

.call-now-footer {
    color: white;
    width: 150px;
    height: 150px;
    background-color: green;
    padding: 15px 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.get-quote-btn-footer {
    color: white;
    width: 150px;
    height: 150px;
    background-color: #d92a29;
    padding: 15px 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (max-width:1000px) {
    .hero-text,
    .hero-video-btn {
        width: 90%;
        text-align: center;
    }
    .benefits>.main-header>p {
        width: 80%;
    }
    .benefits-text {
        width: 100%;
    }
    .benefits-img {
        width: 75%;
    }
    .benefits-list {
        padding-bottom: 50px;
    }
    .benefits-list>li {
        width: 80%;
        text-align: center;
    }
    .about-us-img,
    .about-us-text-box {
        width: 100%;
        right: 0;
    }
    .about-us-text {
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .pricing-box {
        width: 100%;
    }
    .pricing-box-1,
    .pricing-box-2,
    .pricing-box-3 {
        width: 33%;
        margin-top: 30px;
        min-width: 230px;
    }
    .pricing-bottom-text {
        width: 100%;
    }
    .video-modal {
        align-items: flex-start;
    }
}

@media only screen and (max-height:800px) {
    .nav>ul {
        width: 100%;
        height: 150px;
        overflow: auto;
    }
    .section {
        height: auto;
    }
    .hero,
    .benefits,
    .features,
    .how-it-works,
    .get-quote,
    .about-us,
    .pricing {
        width: 90%;
        height: 100%;
        padding: 50px 0;
    }
    .hero {
        height: 70vh;
    }
    .features {
        display: none;
    }
    .features-2 {
        display: block;
        width: 80%;
        color: #373737;
    }
    .feature-content-2 {
        padding-top: 20px;
    }
    .feature-content-2>ul {
        padding: 10px 0 20px 20px;
    }
    .feature-content-2>img {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width:768px) {
    .hero {
        height: 100vh;
    }
    .hero-text>h1 {
        font-size: 2.5em;
    }
    .hero-text>h2 {
        font-size: 2em;
    }
    .hero-text>p {
        font-size: 1.3em;
    }
    .hero-btn {
        font-size: 1.3em;
    }
    .hero-video-btn {
        padding: 20px;
    }
    .hero-video-btn>h2 {
        font-size: 2em;
    }
    .play-icon>i {
        font-size: 4em;
    }
    .scroll-downs {
        top: 0;
    }
    .media-icons>ul>li {
        width: 150px;
        height: 150px;
        margin-top: 10px;
    }
    .features {
        display: none;
    }
    .features-2 {
        display: block;
        width: 80%;
        color: #373737;
    }
    .feature-content-2 {
        padding-top: 20px;
    }
    .feature-content-2>ul {
        padding: 10px 0 20px 20px;
    }
    .feature-content-2>img {
        width: 100%;
        box-shadow: none;
    }
    .open-window {
        padding: 300px 0;
    }
    .turn-it-on {
        background-position: left;
        padding: 300px 0;
    }
    .bring-fresh-air-in {
        padding: 300px 0;
    }
    .enjoy {
        padding: 300px 0;
    }
    .hiw-right {
        width: 65%;
    }
    .hiw-left {
        width: 65%;
    }
    .hiw-left>h3 {
        font-size: 3.5em;
    }
    .start-saving {
        font-size: 4em;
    }
    .get-quote {
        height: 100%;
    }
    .testimonials {
        width: 90%;
    }
    .testimonials-box>li {
        width: 50%;
        margin-top: 40px;
    }
    .pricing-box-1,
    .pricing-box-2,
    .pricing-box-3 {
        width: 60%;
        margin-top: 30px;
        min-width: 230px;
        height: 100%;
    }
    .pricing-box-1>h3 {
        font-size: 1.8em;
    }
    .pricing-box-2>h3 {
        font-size: 1.8em;
    }
    .pricing-box-3>h3 {
        font-size: 1.8em;
    }
    .footer-bottom-left,
    .footer-bottom-right {
        width: 100%;
        padding: 10px 0;
    }
}

@media only screen and (max-width:460px) {
    .modal-form {
        width: 100%;
        padding: 20px 20px;
    }
    .modal-header {
        padding: 0;
    }
    .section {
        width: 100%;
        height: auto;
        background-blend-mode: none;
    }
    .section:nth-child(1) {
        background: #0000009c url(https://dev20.quietcoolsystems.com/wp-content/uploads/2020/07/Family_AirflowLarge_1388x1008-d.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: inherit;
    }
    .hero-text>h1 {
        font-size: 3.5em;
    }
    .hero-btn {
        padding: 15px 20px;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: .9em;
    }
    .hero {
        height: 100%;
        padding: 50px 0 !important;
    }
    .hero-text {
        padding: 20px 0 20px 0;
    }
    .hero-text>h1 {
        font-size: 2em;
    }
    .hero-text>p {
        font-size: 1em;
    }
    .hero-text>h2 {
        font-size: 1.5em;
    }
    .hero-video-btn>h2 {
        font-size: 1.5em;
    }
    .who-we-are {
        padding: 50px 0;
    }
    .open-window {
        padding: 200px 0;
        background-position: top center;
    }
    .hiw-left,
    .hiw-right {
        width: 100%;
        padding: 10px;
    }
    .hiw-right>h3 {
        text-align: center;
        font-size: 2em;
    }
    .hiw-right>p {
        text-align: center;
        font-size: 1em;
    }
    .hiw-left>h3 {
        text-align: center;
        font-size: 2em;
    }
    .hiw-left>p {
        text-align: center;
        font-size: 1em;
    }
    .start-saving {
        font-size: 2em;
    }
    .pricing-box {
        padding: 20px 0;
    }
    .pricing-box-2 {
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
    }
    .hero,
    .benefits,
    .features,
    .how-it-works,
    .get-quote,
    .about-us,
    .pricing {
        padding: 70px 0;
    }
    .hiw-text-box>p>img {
        width: 60px;
        height: 80px;
    }
    .testimonials-box>li {
        width: 70%;
    }
    .mobile-call-to-action {
        display: block;
    }
    .footer {
        padding: 20px 0 70px 0;
    }
}

@media only screen and (max-width:320px) {
    .hero {
        padding: 0;
    }
}